<nav>
    <div class="nav-wrapper navagation-padding black">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/services">Services</a></li>
        <li><a href="/mission">Mission</a></li>
        <li><a href="/our-team">Our Team</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
  </nav>
